<div class="dialog-container">
  <header>
    @if (data.action === 'create') {
      <h3>Aggiungi un paziente</h3>
    } @else {
      <h3>Dettaglio del Paziente {{ data.patient?.givenName }} {{ data.patient?.familyName }}</h3>
    }
  </header>

  <main>
    <div class="flex flex-col gap-2">
      <ng-container
        [ngTemplateOutlet]="field"
        [ngTemplateOutletContext]="{
          $implicit: { label: 'Cognome', control: form.controls.familyName }
        }">
      </ng-container>

      <ng-container
        [ngTemplateOutlet]="field"
        [ngTemplateOutletContext]="{
          $implicit: { label: 'Nome', control: form.controls.givenName }
        }">
      </ng-container>

      <ng-container
        [ngTemplateOutlet]="field"
        [ngTemplateOutletContext]="{
          $implicit: { label: 'Sesso', control: form.controls.sex }
        }">
      </ng-container>

      <div class="flex flex-col gap-1">
        <label>Data di nascita</label>
        <p-calendar
          class="w-full"
          dateFormat="dd/mm/yy"
          styleClass="w-full"
          appendTo="body"
          iconDisplay="input"
          [formControl]="form.controls.birthDate"
          [showIcon]="true">
        </p-calendar>
      </div>
      
      <p-table 
        [responsive]="true" 
        [value]="form.controls.parameters.controls">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Valore</th>
            <th class="w-fit">Allarme</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template 
          pTemplate="body"
          let-index="rowIndex"
          let-parameter>
          @if (castParameter(parameter); as parameter) {
          <tr>
            <td>
              <input 
                type="number"
                pInputText
                [formControl]="parameter.controls.id" />
            </td>
            <td>
              <input 
                type="text"
                pInputText
                [formControl]="parameter.controls.name" />
            </td>
            <td> 
              <input 
                type="text"
                pInputText
                [formControl]="parameter.controls.value" />
            </td>
            <td>
              <p-checkbox 
                [binary]="true"
                [formControl]="parameter.controls.alarm">
              </p-checkbox>
            </td>
            <td>
              @if (data.action === 'create') {
                <button 
                  class="btn-icon"
                  (click)="$event.stopPropagation(); removeParameter(index, parameter)">
                  <i class="text-red-500 pi pi-trash"></i>
                </button>
              }
            </td>
          </tr>
          }
        </ng-template>

        <ng-template pTemplate="footer">
          @if (data.action === 'create') {
            <div class="flex items-center h-10 w-full">
              <button 
                class="flex grow w-full items-center gap-1"
                (click)="addParameter()">
                <span class="font-medium">Aggiungi</span>
                <i class="pi pi-plus"></i>
              </button>
            </div>
          }
        </ng-template>
      </p-table>
    </div>
  </main>

  <footer>
    <button 
      class="p-2 border rounded-lg hover:bg-slate-200" 
      (click)="dialogRef.close()">
      Chiudi
    </button>

    <button 
      class="p-2 flex items-center justify-center gap-2 border rounded-lg bg-blue-500 hover:bg-blue-600 text-white"
      [class.opacity-30]="!form.dirty"
      [class.pointer-events-none]="!form.dirty"
      [disabled]="!form.dirty"
      (click)="submit()">
        <span>Salva</span>
        @if (loading) {
          <i class="pi pi-spin pi-spinner"></i>
        }
    </button>
  </footer>
</div>

<ng-template 
  #field 
  let-patient>
  @if (cast(patient); as patint) {
  <div class="flex flex-col gap-1">
    <label>{{ patient.label }}</label>
    <input type="text" pInputText [formControl]="patint.control" />
  </div>
  }
</ng-template>
